* {
  margin: 0 auto;
  padding: 0;
  border: 0;
}
html,
body {
  width: 980px;
  font: 62.5%/1.5;
  color: white;
  text-align: center;
  font-size: 1.3rem;
  background: url('../../images/latte.jpg') center top;
  background-size: cover;
  background-repeat: no-repeat;
}
#wrapper {
  width: 980px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}
hr {
  width: 75%;
  border: 1px solid white;
}
.social-media {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}
.latte-phrase {
  display: flex;
  justify-content: center;
  font-family: 'Tangerine', cursive;
  font-size: 2rem;
}
.home-page {
  color: white;
  text-align: center;
  font-family: 'Tangerine', cursive;
  .logo {
    border-radius: 5px;
    width: 500px;
    opacity: 0.5;
  }
  .logo-section {
    .quote {
      font-size: 2.3rem;
      width: 75%;
    }
  }
}
.location-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #ffffff;
  font-family: 'Vollkorn', serif;
  text-align: center;
  .store-front {
    img {
      border-radius: 5px;
      width: 500px;
    }
  }
  .location {
    width: 75%;
    a {
      text-decoration: none;
      color: white;
    }
  }
  .family-owned {
    border-radius: 5px;
  }
}
.menu-page {
  height: 100%;
  text-align: center;
  color: white;
  font-family: 'Vollkorn', serif;
  font-size: 1.3rem;
  .menu-title {
    width: 75%;
  }
  .latteluv-menu {
    width: 75%;
    height: 520px;
    border-radius: 5px;
  }
  .bottom-section {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
    img {
      width: 250px;
      height: 250px;
      border-radius: 5px;
      opacity: 0.8;
    }
  }
}
