* {
  margin: 0 auto;
  padding: 0;
  border: 0;
}
html,
body {
  width: 1100px;
  font: 62.5%/1.5;
  color: white;
  text-align: center;
  font-size: 1.3rem;
  background: url('../../images/latte.jpg') center top;
  background-size: cover;
  background-repeat: no-repeat;
}
#wrapper {
  width: 980px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}
hr {
  width: 75%;
  border: 1px solid white;
}
.social-media {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}
.latte-phrase {
  display: flex;
  justify-content: center;
  font-family: 'Tangerine', cursive;
  font-size: 2rem;
}
.home-page {
  color: white;
  text-align: center;
  font-family: 'Tangerine', cursive;
  .logo {
    border-radius: 5px;
    width: 500px;
    opacity: 0.9;
  }
  .logo-section {
    .quote {
      font-size: 2.3rem;
      width: 75%;
    }
  }
}
.location-page {
  color: #ffffff;
  font-family: 'Vollkorn', serif;
  text-align: center;
  .store-front {
    img {
      border-radius: 5px;
      width: 500px;
    }
  }
  .location {
    width: 75%;
    a {
      text-decoration: none;
      color: white;
    }
  }
  .family-section {
    width: 100%;
    img {
      width: 500px;
      border-radius: 5px;
    }
  }
}
.menu-page {
  height: 100%;
  text-align: center;
  color: white;
  font-family: 'Vollkorn', serif;
  font-size: 1.3rem;
  .menu-title {
    width: 75%;
  }
  .latteluv-menu {
    width: 75%;
    height: 520px;
    border-radius: 5px;
  }
  .bottom-section {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
    img {
      width: 250px;
      height: 250px;
      border-radius: 5px;
      opacity: 0.8;
    }
  }
}
//mobile 360px
@media (max-width: 360px) {
  #wrapper {
    width: 360px;
  }
  .App {
    text-align: center;
  }
  html,
  body {
    width: 100%;
    overflow-x: hidden;
  }
  .home-page {
    .logo-section .logo {
      width: 75%;
    }
    .carousel {
      display: flex;
      align-items: center;
      background-color: white;
      opacity: 0.9;
      border-radius: 5px;
      width: 75%;
    }
  }
  .location-page {
    .store-front {
      img {
        width: 90%;
      }
    }
    .family-section {
      width: 100%;
      img {
        width: 324px;
        border-radius: 5px;
      }
    }
  }
  .menu-page {
    .latteluv-menu {
      display: none;
    }
    .bottom-section {
      display: flex;
      flex-direction: column;
      align-items: center;
      img {
        margin: 10px;
      }
    }
  }
}
//mobile 500px
@media (min-width: 500px) {
  #wrapper {
    width: 500px;
    .App {
      text-align: center;
    }
  }
  hr {
    width: 90%;
  }
  html,
  body {
    height: 100%;
    width: 500px;
    overflow-x: hidden;
  }
  .home-page {
    .logo-section .logo {
      width: 75%;
    }

    .carousel {
      display: flex;
      background-color: white;
      opacity: 0.9;
      border-radius: 5px;
      width: 75%;
    }
  }
  .location-page {
    .store-front {
      img {
        width: 90%;
      }
    }
    .family-section {
      width: 100%;
      img {
        width: 90%;
        border-radius: 5px;
      }
    }
  }
  .menu-page {
    .menu {
      .latteluv-menu {
        width: 100%;
      }
    }
    .bottom-section {
      display: flex;
      flex-direction: row;
      align-items: center;
      img {
        width: 140px;
        height: 150px;
      }
    }
  }
}

// @media (max-width: 800px) {
//   #wrapper {
//     width: 800px;
//     .App {
//       .latte-phrase {
//         text-align: center;
//       }
//     }
//   }
//   html,
//   body {
//     width: 100%;
//     overflow-x: hidden;
//   }
//   .home-page {
//     .logo-section .logo {
//       width: 360px;
//     }

//     .carousel {
//       display: flex;
//       align-items: center;
//       background-color: white;
//       opacity: 0.9;
//       border-radius: 5px;
//     }
//   }
//   .location-page {
//     img {
//       width: 360px;
//     }
//     .family-text {
//       width: 360px;
//     }
//   }
//   .menu-page {
//     .bottom-section {
//       display: flex;
//       justify-content: center;
//       img {
//         height: 150px;
//         width: 200px;
//         margin: 10px;
//       }
//     }
//   }
// }
