.nav {
  height: 50px;
  display: flex;
  justify-content: space-around;
  a:hover {
    background-color: black;
    opacity: 0.4;
    color: white;
  }

  .link {
    margin: auto;
    text-decoration: underline;
    text-align: center;
    color: silver;
    border-radius: 4px;
    width: 130px;
  }
}
