* {
  margin: 0 auto;
  padding: 0;
  border: 0;
}

html,
body {
  height: 100vh;
  width: 100%;
  font: 62.5%/1.5;
  color: white;
  text-align: center;
  font-size: 1.3rem;
  background: url("../../images/latte.jpg") center top;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

#wrapper {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

hr {
  width: 75%;
  border: 1px solid white;
}

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 10px;
}

.latte-phrase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Tangerine', cursive;
  font-size: 2rem;
  text-align: center;
}

.home-page {
  color: white;
  text-align: center;
  font-family: 'Tangerine', cursive;
}

.home-page .logo {
  border-radius: 5px;
  width: 90%;
  opacity: 0.9;
}

.home-page .logo-section .quote {
  font-size: 2.3rem;
  width: 75%;
}

.home-page .carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  opacity: 0.9;
  border-radius: 5px;
  width: 300px;
}

.location-page {
  color: #ffffff;
  font-family: 'Vollkorn', serif;
  text-align: center;
}

.location-page .store-front img {
  border-radius: 5px;
  width: 100%;
}

.location-page .location {
  width: 75%;
}

.location-page .location a {
  text-decoration: none;
  color: white;
}

.location-page .family-section {
  width: 100%;
}

.location-page .family-section img {
  width: 500px;
  border-radius: 5px;
}

.menu-page {
  height: 100%;
  text-align: center;
  color: white;
  font-family: 'Vollkorn', serif;
  font-size: 1.3rem;
}

.menu-page .menu-title {
  width: 75%;
}

.menu-page .latteluv-menu {
  width: 100%;
  height: 520px;
  border-radius: 5px;
}

.menu-page .bottom-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu-page .bottom-section img {
  margin: auto;
  margin-top: 10px;
  width: 220px;
  height: 220px;
  border-radius: 5px;
  opacity: 0.8;
}

@media (max-width: 360px) {
  #wrapper {
    width: 360px;
  }
  .App {
    text-align: center;
  }
  html,
  body {
    width: 100%;
    overflow-x: hidden;
  }
  .home-page .logo-section .logo {
    width: 250px;
  }
  .home-page .carousel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: white;
    opacity: 0.9;
    border-radius: 5px;
    width: 250px;
  }
  .location-page .store-front {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .location-page .store-front img {
    width: 250px;
  }
  .location-page .family-section {
    width: 100%;
  }
  .location-page .family-section img {
    width: 324px;
    border-radius: 5px;
  }
  .menu-page .latteluv-menu {
    display: none;
  }
  .menu-page .bottom-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu-page .bottom-section img {
    margin: 10px;
  }
}

@media (min-width: 500px) {
  #wrapper {
    width: 500px;
  }
  #wrapper .App {
    text-align: center;
  }
  hr {
    width: 90%;
  }
  html,
  body {
    width: 100%;
    overflow-x: hidden;
  }
  .home-page .logo-section .logo {
    width: 75%;
  }
  .home-page .carousel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: white;
    opacity: 0.9;
    border-radius: 5px;
    width: 75%;
  }
  .location-page .store-front img {
    width: 90%;
  }
  .location-page .family-section {
    width: 100%;
  }
  .location-page .family-section img {
    width: 90%;
    border-radius: 5px;
  }
  .menu-page .menu .latteluv-menu {
    width: 100%;
  }
  .menu-page .bottom-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu-page .bottom-section img {
    width: 140px;
    height: 150px;
  }
}

@media (min-width: 800px) {
  #wrapper {
    width: 500px;
  }
  #wrapper .App {
    text-align: center;
  }
  html,
  body {
    width: 100%;
    overflow-x: hidden;
  }
  .home-page .logo-section .logo {
    width: 360px;
  }
  .home-page .carousel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: white;
    opacity: 0.9;
    border-radius: 5px;
  }
  .location-page img {
    width: 360px;
  }
  .location-page .family-text {
    width: 360px;
  }
  .menu-page .bottom-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .menu-page .bottom-section img {
    height: 150px;
    width: 200px;
    margin: 10px;
  }
}
/*# sourceMappingURL=index.css.map */